// color scheme:
$color-primary: #973aed;
$color-primary-light: #b878f3;
$color-primary-dark: #520d92;

$color-secondary: #ff8451;
$color-secondary-light: #ffb495;
$color-secondary-dark: #c83b00;

$color-tertiary: #55c57a;
$color-tertiary-light: #7ed56f;
$color-tertiary-dark: #28b485;
