<main>
  <div class="container">
    <div class="book">
      <form action="#" class="form">
        <div class="my-3">
          <h2 class="heading text-center">Log in to your account</h2>
        </div>
        <div class="form__group">
          <input
            type="text"
            class="form__input"
            id="Username"
            placeholder="Username"
            required
          />
          <label for="Username" class="form__label">Username</label>
        </div>
        <div class="form__group">
          <input
            type="password"
            class="form__input"
            id="password"
            placeholder="password"
            required
          />
          <label for="pasword" class="form__label">Password</label>
        </div>
        <div class="form__submit text-center">
          <button
            class="
              shadow
              bg-purple-500
              hover:bg-purple-400
              focus:shadow-outline focus:outline-none
              text-white
              py-3
              px-5
              rounded
            "
            type="button"
          >
            Sign In
          </button>
        </div>
        <a href="#" class="forgot-password">Forgot Password?</a>
      </form>
      <br />
      <br />
      <p class="my-3">
        New Here?
        <a href="/register" style="color: blue">register</a>
      </p>
    </div>
  </div>
</main>
