@import "../../assets/utilities";
main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to right, #dcaedf, #b399d6);
}

.container {
  width: 80rem;
  height: 50rem;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 1rem;
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
}

.heading {
  text-transform: uppercase;
  margin-bottom: 6rem;
  font-size: 2.2rem;
  font-weight: 400;
  color: #333;
}

.form {
  width: 40rem;
  font-size: 1.4rem;
  position: relative;
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }
  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    width: 100%;
    height: 5rem;
    outline: none;
    border: none;
    display: block;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    transition: all 0.3s;

    &:focus {
      border-bottom: 4px solid $color-secondary-dark;
    }
    &:valid {
      border-bottom: 4px solid $color-primary;
    }
  }
  &__label {
    display: block;
    font-size: 1.2rem;
    padding-left: 1rem;
    font-weight: 500;
    transition: all 0.3s;
  }

  &__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-3rem);
  }

  &-input {
    display: none;
  }
  &-label {
    font-size: 1.7rem;
    padding-left: 4rem;
  }

  &__submit-button {
    color: #fff;
    background-color: $color-primary;
  }
}

.forgot-password {
  position: absolute;
  right: 0;
  bottom: 10%;
  color: orangered;
}
